//
// how compilate?
//stylus -u nib --include-css -w -c -o httpdocs/css stylus/stylus.styl
//
// Miguel Martinez <natacion@gmail.com>
// 0.0.1

@import "nib"

// PROJECT VARIABLES
@import "stylus/variables.styl"

// FONT
//@import "stylus/font.styl"

// BOOTSTRAP
@import "bootstrap/bootstrap.styl"
@import "bootstrap/theme.styl"

// plugins
//http://getbootstrap.com/examples/offcanvas/
// @import "bootstrap/offcanvas.styl"
@import "plugins/jasny-bootstrap.min.css"
@import "plugins/navmenu-push.styl"
//http://bootstrap-combobox-test.herokuapp.com/
@import "plugins/bootstrap-combobox.css"
//http://www.bootstrap-switch.org/
@import "plugins/bootstrap-switch.min.css"
@import "plugins/bootstrap-datetimepicker.css"
@import "plugins/menu-multilevel.css"
@import "plugins/bootstrap-scrolltab.css"
@import "plugins/bootstrap-modalajax.css"

//
// ---------------------------------------------------------
// SETTINGS
// ---------------------------------------------------------
//

@import "stylus/colors.styl"
@import "stylus/settings.styl"
// @import "stylus/slide-menu.styl"

@import "stylus/login.styl"
@import "stylus/crud/index.styl"

