@charset 'utf-8';

body {
	background-color: #000;
	color: #ffffff;
	padding-top: 139px;
}

header {
	display: inline-block !important;
}

#Contenedor {
	padding: 0;
}

#conteo_donadores h2 {
	font-size: 1.7em;
	margin: 0;
}

#conteo_donadores h3{
	margin: 0;
}

#logo h1 {
	font-size: 1.3em;
	margin: 0;
}

#meenus {
	top: 0;
}

#menu_principal {
	display: inline-block;
	font-size: 0.9em;
	width: 437px;
}

#menu_uno, #menu_dos {
	letter-spacing: -.1px;
	margin: 0;
}

#menu_uno li a {
	color: #FFF;
  	text-decoration: none;
}

#moments_time {
	display: none;
}

#moments_time .navigator-legend {
	font-size: 30px;
}

.btn-cerrar {
	background: transparent;
	background-image: url(../images/x1.png);
	height: 40px;
	position: absolute;
	outline: none;
	right: 15px;
	top: 17%;
	width: 40px;
	z-index: 17;
}

.btn-cerrar:active {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-cerrar:hover {
	background-color: inherit;
	border: none;
}

.carousel-control {
	text-shadow: none;
	width: 4%;
	z-index: 15;
}

.carousel-control.left, .carousel-control.right {
	margin-top: 145px;
}

.carousel-control.left.secondary, .carousel-control.right.secondary {
	margin: 0;
}

.carousel-control.left {
	background-image: none;
	height: 65px;
	left: 65px;
}

.carousel-control.left.secondary {
	background-image: none;
	left: 0;
}

.carousel-control.right {
	background-image: none;
	height: 65px;
	left: 105px;
	right: auto;
}

.carousel-control.right.secondary {
	background-image: none;
	left: auto;
	right: 0;
}

.carousel-indicators {
	border-bottom: 1px solid #BEDA3E;
	bottom: 90px;
	left: 0;
	margin: 0;
	padding-left: 65px;
	width: 100%;
}

.carousel-indicators li {
	border-radius: inherit;
	float: left;
	margin: 0px 25px;
	text-align: center;
	width: 2px;
}

.carousel-indicators li.active {
	border-radius: inherit;
	margin: 0px 25px;
	width: 2px;
}

.carousel-indicators li span {
	float: left;
	font-size: 15px;
	height: 100%;
	margin-top: -540px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 100%;
}

.container-fluid {
	padding: 0;
}

.dummy-header {
	height: 140px;
}

.img-responsive {
	width: 100%;
}

.left-arrow {
	background-image: url(../images/fv-i.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 60px;
	width: 30px;
}

.right-arrow {
	background-image: url(../images/fv-d.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 60px;
	width: 30px;
}

.left-arrow-secondary {
	background-image: url(../images/fv-1.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 39px;
	margin-top: 8px;
	width: 20px;
}

.right-arrow-secondary {
	background-image: url(../images/fv-2.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 39px;
	margin-top: 8px;
	width: 20px;
}

.moment-description {
	left: 65px;
	position: absolute;
	top: 25%;
}

.moment-description h1 {
	color: #BEDA3E;
	font-size: 49px;
	font-weight: 700;
	margin-bottom: 0;
}

.moment-description h2 {
	font-size: 33px;
	font-weight: 700;
	margin-top: 7px;
	text-transform: uppercase;
}

.moment-description p {
	font-size: 16.5px;
	margin-bottom: 15px;
}

.moment-description a {
	color: #ffffff;
	font-size: 16.5px;
	font-weight: 700;
	text-decoration: none;
}

.moment-description a b {
	color: #BEDA3E;
}

.navigator-buttons {
	bottom: 40px;
	position: absolute;
	z-index: 16;
}

.navigator-legend {
	display: inline-block;
	font-size: 15px;
	margin-left: 65px;
	padding-top: 15px;
	vertical-align: top;
}

.row {
	margin: 0;
}

.slide_container {
	padding: 0;
}

.slide_container .slide {
	margin: 0;
	padding: 0;
}

.social_top ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social_top li {
	border: 2px solid #fff;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	height: 40px;
	line-height: 40px;
	margin: 3px;
	text-align: center;
	width: 40px;
}

.social_top p {
	display: inline-block;
}

.social_top li:hover {
	border: 2px solid #beda3e;
}

.social_top li i:hover {
	color: #beda3e;
}

@media only screen and (max-width: 1440px) and (orientation: landscape){
	body {
		padding-top: 136px;
	}

	#carousel-timeline-moments .carousel-control.left, #carousel-timeline-moments .carousel-control.right {
		margin-top: 60px;
	}

	#moments_time .navigator-buttons {
		bottom: 15px;

	}

	#moments_time .navigator-legend {
		padding-top: 7px;
	}

	.btn-cerrar {
		right: 15px;
		top: 19%;
	}

	.carousel-control.left, .carousel-control.right {
		margin-top: 85px;
	}

	.moment-description {
		left: 62px;
		top: 20%;
	}

	#carousel-timeline-moments .navigator-buttons .carousel-control.left, #carousel-timeline-moments .navigator-buttons .carousel-control.right {
		margin-top: 0;
	}	
}

@media only screen and (max-width: 1366px){
	body {
		padding-top: 59px;
	}

	.dummy-header {
		height: 60px;
	}
}

@media only screen and (max-width: 1280px) and (orientation: landscape){

	.carousel-control.left, .carousel-control.right {
		margin-top: 95px;
	}

	.moment-description {
		left: 55px;
	}

	.moment-description h1 {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.moment-description h2 {
		font-size: 30px;
		font-weight: 700;
		margin-top: 7px;
		text-transform: uppercase;
	}

	.moment-description p {
		font-size: 14.5px;
		margin-bottom: 15px;
	}

	.moment-description a {
		font-size: 14.5px;
		font-weight: 700;
		text-decoration: none;
	}

	.moment-description img {
		background-size: cover;
	}
}

@media only screen and (max-width: 1024px) and (orientation: landscape){
	body {
		padding-top: 98px;
	}

	#carousel-timeline-moments .carousel-control.left, #carousel-timeline-moments .carousel-control.right {
		display: none;
	}

	#carousel-timeline-moments .navigator-buttons .carousel-control.left, #carousel-timeline-moments .navigator-buttons .carousel-control.right {
		display: inline-block;
	}

	.carousel-control.left, .carousel-control.right {
		margin-top: 50px;
	}

	.moment-description {
		margin-left: 15px;
		padding: 0;
		top: 19%;
	}

	.moment-description h2 {
		margin-top: 0;
	}

	.carousel-control.left.secondary {
		left: 15px;
	}

	.carousel-control.right.secondary {
		right: 15px;
	}

	/*.slide_container {
		height: 609px !important;
	}*/
}

@media only screen and (max-width: 960px){
	#carousel-timeline-moments .carousel-control.left, #carousel-timeline-moments .carousel-control.right {
		display: none;
	}

	#carousel-timeline-moments .navigator-buttons .carousel-control.left, #carousel-timeline-moments .navigator-buttons .carousel-control.right {
		display: inline-block;
	}

	.img-responsive {
		height: 490px !important;
		max-width: inherit !important;
		width: auto;
	}

	.moment-description {
		top: 5%;
	}
}

@media only screen and (max-width: 800px){
	#carousel-timeline-moments .carousel-control.left, #carousel-timeline-moments .carousel-control.right {
		display: none;
	}

	#carousel-timeline-moments .navigator-buttons .carousel-control.left, #carousel-timeline-moments .navigator-buttons .carousel-control.right {
		display: inline-block;
	}

	.carousel-indicators {
		bottom: 50px;
	}

	.img-responsive {
		height: 445px !important;
		max-width: inherit !important;
		width: auto;
	}

	.moment-description {
		top: 5%;
	}

	.moment-description h1 {
		font-size: 28px;
	}

	.moment-description h2 {
		font-size: 24px;
		margin-top: 0;
	}

	.navigator-buttons {
		bottom: 10px;
	}
}

/* 768px portrait */
@media only screen and (max-width: 768px) and (orientation: landscape){
	body {
		padding-top: 59px;
	}

	.dummy-header {
		height: 60px;
	}

	.carousel-indicators {
		bottom: 160px;
	}

	.moment-description {
		left: 0;
		top: 2em;
	}

	.moment-description h1 {
		margin: 0;
	}

	.moment-description h2 {
		font-size: 1.4em;
		margin: 0;
	}

	.moment-description p {
		font-size: .8em;
	}

	.navigator-buttons {
		bottom: 120px;
	}

	.navbar {
		margin-bottom: 0px;
	}
}

/* 768px landscape */
@media only screen and (max-width: 768px) and (orientation: portrait){
	body {
		padding-top: 102px;
	}

	.btn-cerrar {
		top: 12%;
	}

	.carousel-indicators {
		bottom: 100px;
	}

	.carousel-control.left.secondary, .carousel-control.right.secondary {
		top: 15px;
	}

	.navigator-buttons .carousel-control.left.secondary, .navigator-buttons .carousel-control.right.secondary {
		display: inline-block;
	}

	.main-rol {
		display: none;
	}

	.moment-description {
		padding: 0 65px;
		top: 15%;
	}

	.moment-description button {
		margin-bottom: 15px;
	}

	.moment-description h1 {
		font-size: 36px;
	}

	.moment-description h2 {
		font-size: 30px;
		margin-bottom: 15px;
		margin-top: 7px;
	}

	.moment-description p {
		font-size: 18px;
	}

	.moment-description a {
		font-size: 18px;
		font-weight: 700;
	}

	.navigator-buttons {
		bottom: 40px;
	}

	.slide_container .slide img {
		height: 865px !important;
	}
}

/* Nexus 6 ( 690 x 331 ) landscape */
@media only screen and (max-width: 690px) and (orientation: landscape){

	.carousel-control.left, .carousel-control.right {
		margin-top: 15px;
	}

	.carousel-control.left {
		left: 15px;
	}

	.carousel-control.right {
		left: 55px;
	}

	.carousel-control.right.secondary {
		left: 40px;
	}

	.carousel-indicators {
		/*bottom: 300px;*/
		padding-left: 0px;
	}

	.moment-description {
		left: 0;
		margin: 0;
		padding: 0 15px;
		top: 15%;
	}

	.navigator-buttons {
		bottom: 43px;
	}

	.navigator-legend {
		display: none;
	}
}

@media screen and (max-width: 480px){
	body {
		padding-top: 49px;
	}
}

/* Nexus 6 ( 690 x 331 ) landscape */
@media only screen and (max-width: 412px) and (orientation: portrait){
	body {
		padding-top: 107px;
	}

	.btn-cerrar {
		top: 19%;
	}

	.carousel-indicators {
		bottom: 0;
		padding-left: 0;
	}

	.left-arrow-secondary, .right-arrow-secondary {
		margin-top: 0;
	}

	.main-rol {
		display: none;
	}

	.moment-description p {
		font-size: 14px;
		margin-top: 15px;
	}

	.navigator-buttons {
		bottom: 55px;
		left: 15px;
	}

	.navigator-legend {
		display: none;
	}

	.slide_container .slide {
		min-height: 485px;
	}

	.slide_container .item img {
		display: none;
	}

	.timeline-navigator {
		bottom: 70px;
	}
}

@media screen and (max-width: 320) {
	body {
		padding-top: 49px;
	}

	.img-responsive {
		height: 320px !important;
		max-width: inherit !important;
		width: auto;
	}

	.moment-description {
		left: 0;
		position: absolute;
		top: 0;
	}
}

