html { background-color: #000; }

body { color: #ffffff; padding-top: 136px; }

header { display: inline-block !important; }

#Contenedor { background-color: #000; padding: 0; }

#conteo_donadores h2 { font-size: 1.7em; margin: 0; }
#conteo_donadores h3 { margin: 0; }

#logo h1 { font-size: 1.3em; margin: 0; }

#meenus { top: 0; }
#meenus #menu_principal { display: inline-block; font-size: 0.9em; width: 437px; }
#meenus #menu_uno, #meenus #menu_dos { letter-spacing: -0.1px; margin: 0; }
#meenus #menu_uno li a { color: #fff; text-decoration: none; }

#moments_time { display: none; }
#moments_time h1 { margin-top: 0; }
#moments_time h3 { margin: 0 0 15px 0; }
#moments_time .label-white { background-color: #fff; color: #000; }
#moments_time .navigator-legend { font-size: 30px; }
#moments_time .carousel-control.left.main-rol { margin-top: 120px; }
#moments_time .carousel-control.right.main-rol { margin-top: 120px; }
#moments_time .btn-cerrar { background: transparent; background-image: url(../images/x1.png); height: 40px; margin-top: 15px; position: absolute; outline: none; right: 15px; width: 40px; z-index: 17; }
#moments_time .btn-cerrar:active { outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
#moments_time .btn-cerrar:hover { background-color: inherit; border: none; }
#moments_time .btn-cerrar:focus { outline: none; }

.carousel-control { text-shadow: none; width: 4%; z-index: 15; }
.carousel-control.left, .carousel-control.right { background-image: none; height: 65px; margin-top: 145px; }
.carousel-control.left.secondary, .carousel-control.right.secondary { background-image: none; height: 40px; margin: 0; width: 30px; }
.carousel-control.left { left: 65px; }
.carousel-control.left.secondary { left: 0; }
.carousel-control.right { left: 105px; right: auto; }
.carousel-control.right.secondary { left: auto; right: 0; }

.carousel-indicators { border-bottom: 1px solid #BEDA3E; left: 0; margin: 0; padding-left: 65px; width: 100%; }
.carousel-indicators li { border-radius: inherit; float: left; margin: 0 25px; text-align: center; width: 2px; }
.carousel-indicators li span { float: left; font-size: 15px; height: 100%; margin-top: -540px; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg); width: 100%; }
.carousel-indicators .active { border-radius: inherit; margin: 0 25px; width: 2px; }

.container-fluid { padding: 0; }

.img-responsive { width: 100%; }

.left-arrow, .right-arrow { background-repeat: no-repeat; display: inline-block; height: 60px; width: 30px; }

.left-arrow { background-image: url(../images/fv-i.png); }

.right-arrow { background-image: url(../images/fv-d.png); }

.left-arrow-secondary, .right-arrow-secondary { background-repeat: no-repeat; display: inline-block; height: 39px; margin: 18px 0; width: 20px; }

.left-arrow-secondary { background-image: url(../images/fv-1.png); }

.right-arrow-secondary { background-image: url(../images/fv-2.png); }

.moment-description { left: 65px; position: absolute; top: 25%; }
.moment-description h1 { color: #BEDA3E; font-size: 49px; font-weight: 700; margin-bottom: 0; }
.moment-description h2 { font-size: 33px; font-weight: 700; margin-top: 7px; text-transform: uppercase; }
.moment-description p { font-size: 16.5px; margin-bottom: 15px; }
.moment-description a { color: #ffffff; font-size: 16.5px; font-weight: 700; text-decoration: none; }
.moment-description a b { color: #BEDA3E; }
.moment-description .social_top ul { list-style: none; margin: 0; padding: 0; }
.moment-description .social_top ul li { border: 2px solid #fff; border-radius: 30px; color: #fff; display: inline-block; font-size: 1em; height: 40px; line-height: 40px; margin: 3px; text-align: center; width: 40px; }
.moment-description .social_top ul li:hover { border: 2px solid #BEDA3E; }
.moment-description .social_top ul li:hover a { color: #BEDA3E; }
.moment-description .social_top ul p { display: inline-block; }

.navigator-buttons { bottom: 45px; height: 40px; position: absolute; z-index: 16; }

.navigator-legend { display: inline-block; font-size: 15px; margin: 25px 0 25px 65px; vertical-align: top; }

.row { margin: 0; }

.slide_container { padding: 0; }
.slide_container .slide { margin: 0; padding: 0; }

.timeline-navigator { bottom: 70px; }

.w-320.portrait body { padding-top: 107px; }
.w-320.portrait #moments_time .moment-description label.label { font-size: 55%; }
.w-320.portrait #moments_time .moment-description .social_top { display: none; }
.w-320.portrait .carousel-control.left, .w-320.portrait .carousel-control.right { display: none; }
.w-320.portrait .carousel-control.left.secondary, .w-320.portrait .carousel-control.right.secondary { display: inline-block; margin: 0; }
.w-320.portrait .carousel-control.left.secondary { left: 15px; }
.w-320.portrait .carousel-control.right.secondary { left: auto; right: 15px; }
.w-320.portrait .moment-description { left: 0; top: 0; }
.w-320.portrait .moment-description h1 { font-size: 32px; }
.w-320.portrait .moment-description h2 { font-size: 18px; }
.w-320.portrait .moment-description a { font-size: 14.5px; }
.w-320.portrait .moment-description p { font-size: 12px; }
.w-320.portrait .navigator-buttons { bottom: 28px; }
.w-320.portrait .navigator-buttons .navigator-legend { display: none; }
.w-320.portrait .slide { min-height: 358px; }
.w-320.portrait .slide img { display: none; }
.w-320.portrait .timeline-navigator { bottom: 20px; }

.w-360.portrait body { padding-top: 107px; }
.w-360.portrait #moments_time .moment-description label.label { font-size: 45%; }
.w-360.portrait #moments_time .navigator-legend { font-size: 24px; margin: 18px 0 0 138px; }
.w-360.portrait .carousel-control.left, .w-360.portrait .carousel-control.right { display: none; }
.w-360.portrait .carousel-control.left.secondary, .w-360.portrait .carousel-control.right.secondary { display: inline-block; margin: 0; }
.w-360.portrait .img-responsive { max-width: none; width: 308%; }
.w-360.portrait .moment-description { left: 0; top: 0; }
.w-360.portrait .moment-description h1 { font-size: 38px; }
.w-360.portrait .moment-description h2 { font-size: 28px; }
.w-360.portrait .moment-description p { font-size: 14.5px; }
.w-360.portrait .navigator-buttons.navigator-legend { margin: 25px 0 0 108px; }

.w-412.portrait body { padding-top: 107px; }
.w-412.portrait #moments_time .moment-description h1 { font-size: 32px; margin-top: 10px; }
.w-412.portrait #moments_time .moment-description h2 { font-size: 22px; }
.w-412.portrait #moments_time .navigator-buttons.navigator-legend { font-size: 25px; margin: 2px 0 0 140px; }
.w-412.portrait .btn-cerrar { margin-top: 15px; }
.w-412.portrait .carousel-indicators { bottom: 0; padding-left: 0; }
.w-412.portrait .left-arrow-secondary, .w-412.portrait .right-arrow-secondary { margin-top: 0; }
.w-412.portrait .main-rol { display: none; }
.w-412.portrait .moment-description { left: 0; margin: 2% 0 0 0; padding: 0 25px; }
.w-412.portrait .moment-description h1 { font-size: 42px; }
.w-412.portrait .moment-description h2 { font-size: 28px; margin-bottom: 0; }
.w-412.portrait .moment-description p { font-size: 14px; margin-top: 15px; }
.w-412.portrait .moment-description .btn-default { font-size: 12px; margin-top: 10px; padding: 3px 6px; }
.w-412.portrait .navigator-buttons { bottom: -35px; }
.w-412.portrait .navigator-legend { margin: 8px 0 0 140px; }
.w-412.portrait .slide_container { height: 425px; }
.w-412.portrait .slide_container .item img { display: none; }
.w-412.portrait .timeline-navigator { bottom: 25px; }

.w-480.landscape body { padding-top: 107px; }
.w-480.landscape #moments_time label.label { font-size: 40%; }
.w-480.landscape #moments_time .moment-description .social_top { display: none; }
.w-480.landscape .carousel-control.left, .w-480.landscape .carousel-control.right { display: none; }
.w-480.landscape .carousel-control.left.secondary, .w-480.landscape .carousel-control.right.secondary { display: inline-block; margin: 0; }
.w-480.landscape .carousel-control.left.secondary { left: 15px; }
.w-480.landscape .carousel-control.right.secondary { left: auto; right: 15px; }
.w-480.landscape .img-responsive { max-width: none; width: 145%; }
.w-480.landscape .moment-description { left: 0; top: 0; }
.w-480.landscape .moment-description h1 { font-size: 32px; }
.w-480.landscape .moment-description h2 { font-size: 22px; }
.w-480.landscape .moment-description p { font-size: 12.5px; }
.w-480.landscape .navigator-buttons { bottom: 32px; }
.w-480.landscape .navigator-buttons .navigator-legend { display: none; }
.w-480.landscape .timeline-navigator { bottom: 25px; }

.w-600.portrait body { padding-top: 107px; }
.w-600.portrait #moments_time .carousel-control.left.main-rol, .w-600.portrait #moments_time .carousel-control.right.main-rol { display: none; }
.w-600.portrait #moments_time .moment-description { top: 12%; }
.w-600.portrait #moments_time .navigator-buttons .navigator-legend { font-size: 16px; margin: 23px 0 0 65px; }
.w-600.portrait .carousel-control.left, .w-600.portrait .carousel-control.right { margin-top: 120px; }
.w-600.portrait .carousel-control.left.secondary, .w-600.portrait .carousel-control.right.secondary { margin: 0; }
.w-600.portrait .carousel-control.left { left: 80px; }
.w-600.portrait .carousel-control.left.secondary { left: 15px; }
.w-600.portrait .carousel-control.right { left: 120px; }
.w-600.portrait .carousel-control.right.secondary { left: auto; right: 15px; }
.w-600.portrait .img-responsive { max-width: none; width: 240%; }
.w-600.portrait .moment-description.col-xs-12 { width: 90%; }

.w-640.landscape body { padding-top: 107px; }
.w-640.landscape #moments_time .moment-description label.label { font-size: 45%; }
.w-640.landscape #moments_time .moment-description .social_top { display: none; }
.w-640.landscape .carousel-control.left, .w-640.landscape .carousel-control.right { display: none; }
.w-640.landscape .carousel-control.left.secondary, .w-640.landscape .carousel-control.right.secondary { display: inline-block; margin: 0; }
.w-640.landscape .moment-description { left: 0; top: 0; }
.w-640.landscape .moment-description a { font-size: 14px; }
.w-640.landscape .moment-description h1 { font-size: 30px; }
.w-640.landscape .moment-description h2 { font-size: 20px; }
.w-640.landscape .moment-description p { font-size: 12.5px; }
.w-640.landscape .navigator-buttons { bottom: 27px; }
.w-640.landscape .navigator-buttons .navigator-legend { display: none; }
.w-640.landscape .timeline-navigator { bottom: 20px; }
.w-640.portrait body { padding-top: 105px; }
.w-640.portrait #moments_time .navigator-buttons .navigator-legend { font-size: 24px; margin: 18px 0 0 65px; }
.w-640.portrait .carousel-control.left.secondary, .w-640.portrait .carousel-control.right.secondary { margin: 0; }
.w-640.portrait .carousel-control.left { left: 80px; }
.w-640.portrait .carousel-control.left.secondary { left: 15px; }
.w-640.portrait .carousel-control.right { left: 120px; }
.w-640.portrait .carousel-control.right.secondary { left: auto; right: 15px; }
.w-640.portrait .img-responsive { max-width: none; width: 276%; }
.w-640.portrait .moment-description.col-xs-12 { width: 80%; }
.w-640.portrait .navigator-buttons { bottom: 35px; }
.w-640.portrait .navigator-buttons .navigator-legend { margin: 20px 0 0 65px; }
.w-640.portrait .timeline-navigator { bottom: 85px; }

.w-690.landscape body { padding-top: 100px; }
.w-690.landscape .btn-cerrar { margin-top: 15px; }
.w-690.landscape .carousel-control.left.secondary { left: 15px; }
.w-690.landscape .carousel-control.right.secondary { left: 45px; }
.w-690.landscape .main-rol { display: none; }
.w-690.landscape .moment-description { left: 0; top: 0; }
.w-690.landscape .moment-description h1 { font-size: 36px; margin-top: 10px; }
.w-690.landscape .moment-description h2 { font-size: 26px; }
.w-690.landscape .moment-description p { font-size: 14.5px; }
.w-690.landscape .moment-description .btn-default { font-size: 12px; margin-top: 10px; padding: 3px 6px; }
.w-690.landscape .moment-description .social_top { display: none; }
.w-690.landscape .navigator-buttons { bottom: 20px; }
.w-690.landscape .navigator-legend { display: none; }
.w-690.landscape .timeline-navigator { bottom: 40px; }
.w-690.landscape .timeline-navigator .carousel-indicators { padding: 0; }

.w-768.portrait body { padding-top: 100px; }
.w-768.portrait #moments_time .navigator-buttons .navigator-legend { margin: 15px 0 0 65px; }
.w-768.portrait .carousel-control.left { left: 80px; }
.w-768.portrait .carousel-control.left.secondary { left: 15px; }
.w-768.portrait .carousel-control.right { left: 120px; }
.w-768.portrait .carousel-control.right.secondary { left: auto; right: 15px; }
.w-768.portrait .moment-description.col-sm-12 { width: 85%; }
.w-768.portrait .navigator-buttons { bottom: 165px; }
.w-768.portrait .img-responsive { max-width: none; width: 250%; }
.w-768.portrait .timeline-navigator { bottom: 200px; }

.w-800.landscape body { margin-top: -35px; }
.w-800.landscape #moments_time .navigator-buttons .navigator-legend { font-size: 18px; margin: 20px 0 0 65px; }
.w-800.landscape .carousel-control.left, .w-800.landscape .carousel-control.right { display: none; }
.w-800.landscape .carousel-control.left.secondary, .w-800.landscape .carousel-control.right.secondary { display: inline-block; margin: 0; }
.w-800.landscape .img-responsive { max-width: none; width: 129.5%; }
.w-800.landscape .moment-description { top: 3%; }
.w-800.landscape .moment-description.col-sm-12 { width: 90%; }

.w-960.landscape body { padding-top: 100px; }
.w-960.landscape #moments_time .carousel-control.left.main-rol, .w-960.landscape #moments_time .carousel-control.right.main-rol { display: none; }
.w-960.landscape #moments_time .moment-description { top: 12%; }
.w-960.landscape #moments_time .moment-description.col-sm-12 { width: 80%; }
.w-960.landscape #moments_time .navigator-legend { margin: 15px 0 0 65px; }
.w-960.landscape .carousel-control.left, .w-960.landscape .carousel-control.right { margin-top: 60px; }
.w-960.landscape .carousel-control.left.secondary, .w-960.landscape .carousel-control.right.secondary { margin: 0; }
.w-960.landscape .carousel-control.left { left: 75px; }
.w-960.landscape .carousel-control.left.secondary { left: 15px; }
.w-960.landscape .carousel-control.right { left: 115px; }
.w-960.landscape .carousel-control.right.secondary { left: auto; right: 15px; }
.w-960.landscape .moment-description h1 { font-size: 40px; }
.w-960.landscape .moment-description h2 { font-size: 30px; }
.w-960.landscape .img-responsive { max-width: none; width: 117%; }

.w-1024.landscape body { padding-top: 102px; }
.w-1024.landscape #main_time .navigator-legend { font-size: 15px; margin: 25px 0 0px 65px; }
.w-1024.landscape #moments_time .carousel-control.left.main-rol { margin-top: 85px; }
.w-1024.landscape #moments_time .carousel-control.right.main-rol { margin-top: 85px; }
.w-1024.landscape #moments_time .navigator-legend { font-size: 26px; margin: 20px 0 10px 65px; }
.w-1024.landscape .carousel-control.left, .w-1024.landscape .carousel-control.right { margin-top: 110px; }
.w-1024.landscape .carousel-control.left.secondary, .w-1024.landscape .carousel-control.right.secondary { margin: 0; }
.w-1024.landscape .carousel-control.left { left: 75px; }
.w-1024.landscape .carousel-control.left.secondary { left: 25px; }
.w-1024.landscape .carousel-control.right { left: 115px; }
.w-1024.landscape .carousel-control.right.secondary { left: auto; right: 25px; }
.w-1024.landscape .col-md-4 { width: 50.333333%; }
.w-1024.landscape .col-md-5 { width: 60.333333%; }
.w-1024.landscape .img-responsive { max-width: none; width: 135.5%; }
.w-1024.landscape .left-arrow-secondary, .w-1024.landscape .right-arrow-secondary { margin: 18px 0 0 0; }
.w-1024.landscape .moment-description h1 { font-size: 38px; }
.w-1024.landscape .moment-description h2 { font-size: 28px; }
.w-1024.landscape .navigator-buttons { bottom: 30px; }
.w-1024.landscape .timeline-navigator { bottom: 50px; }
.w-1024.landscape .timeline-navigator .navigator-container .carousel-indicators li span { font-size: 13px; }

.w-1280.landscape #moments_time .carousel-control.left.main-rol { margin-top: 15px; }
.w-1280.landscape #moments_time .carousel-control.right.main-rol { margin-top: 15px; }
.w-1280.landscape #moments_time .moment-description { top: 15%; }
.w-1280.landscape #moments_time .navigator-legend { margin: 20px 0 20px 65px; }
.w-1280.landscape .carousel-control.left, .w-1280.landscape .carousel-control.right { margin-top: 75px; }
.w-1280.landscape .carousel-control.left.secondary, .w-1280.landscape .carousel-control.right.secondary { margin: 0; }
.w-1280.landscape .carousel-control.left.secondary { left: 15px; }
.w-1280.landscape .carousel-control.right.secondary { left: auto; right: 15px; }
.w-1280.landscape .col-md-4 { width: 50.333333%; }
.w-1280.landscape .img-responsive { max-width: none; width: 108%; }
.w-1280.landscape .moment-description { top: 20%; }

.w-1366.landscape #main_time .navigator-legend { font-size: 15px; margin: 25px 0 0px 65px; }
.w-1366.landscape #moments_time .carousel-control.left, .w-1366.landscape #moments_time .carousel-control.right { margin-top: 40px; }
.w-1366.landscape #moments_time .carousel-control.left.secondary, .w-1366.landscape #moments_time .carousel-control.right.secondary { margin: 0; }
.w-1366.landscape #moments_time .navigator-legend { margin: 15px 0 18px 65px; }
.w-1366.landscape .carousel-control.left, .w-1366.landscape .carousel-control.right { margin-top: 65px; }
.w-1366.landscape .carousel-control.left.secondary, .w-1366.landscape .carousel-control.right.secondary { margin: 0; }
.w-1366.landscape .carousel-control.left.secondary { left: 25px; }
.w-1366.landscape .carousel-control.right.secondary { left: auto; right: 25px; }
.w-1366.landscape .left-arrow-secondary, .w-1366.landscape .right-arrow-secondary { margin: 18px 0 0 0; }
.w-1366.landscape .moment-description { top: 18%; }

.w-1440.landscape #moments_time .carousel-control.left.main-rol { margin-top: 90px; }
.w-1440.landscape #moments_time .carousel-control.right.main-rol { margin-top: 90px; }
.w-1440.landscape .carousel-control.left, .w-1440.landscape .carousel-control.right { margin-top: 125px; }
.w-1440.landscape .carousel-control.left.secondary, .w-1440.landscape .carousel-control.right.secondary { margin: 0; }
.w-1440.landscape .img-responsive { max-width: none; width: 110.5%; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) and (max-width: 1530px) { .moment-description h1 { font-size: 3.5vw; }
  .moment-description h2 { font-size: 2.5vw; }
  .moment-description p { font-size: 1.5vw; }
  .moment-description a { font-size: 1.5vw; } }
