.tabs {
    position: relative;
	margin: 5px auto;
	width: 90%;
	background: #fff;
	overflow: hidden;
	height: 77%;
}

.tabs input {
	position: absolute;
	z-index: 1000;
	width: 127px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs:after{
content: "";
color: #919191;
position: absolute;	
  left: 107px;
  top: 10px;
  font-weight: bold;
  z-index: 100;
  font-size: 13px;
}
.tabs input#tab-2{
	left: 127px;
}
.tabs label {
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0;
    float: left;
	display: block;
	width: 127px;
	color: #000;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
    border-radius: none;
    box-shadow: none;
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + label {
	/*background: #5ba4a4;*/
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: none;
   /* border-right: 2px solid #929292;*/
}

.tab-label-2 {
    z-index: 3;

}
.tabs input:checked + label {
    background: transparent;
	z-index: 6;
	width: 123px;
    -webkit-animation: page 0.2s linear;
    -moz-animation: page 0.2s linear;
    -ms-animation: page 0.2s linear;
    -o-animation: page 0.2s linear;
    animation: page 0.2s linear;
    color: #bfda3f;
}
.clear-shadow {
	clear: both;
}
.content {
    /*background: gold;*/
    height: auto;
	position: relative;
    width: 100%;
	height: 100px;
}
.content-1{
	width: 100%;
	padding: 0;
	height: 382px;
	background: #fff;
	}
	.content-2{
		width: 100%;
	padding: 0;
	height: 386px;
	background: #fff;
	}
.content-1>.fig{
	width: 100% !important;
	top:44%;
}
.content-1>#meta{
	width: 100% !important;
	top:85%;
}
.content-1>#meta #barra{
	border: solid 1px #000;
	background: url("../images/back-barra2.png");
}
.content-1>#meta #cantidad h1{
	top: 0;
}
.content-1>#meta #cantidad h2{
	margin: 14px 0 0 0;
	font-weight: bold;
}
.content-1>#meta p{
	color: #000 !important;
	font-weight: bolder;
	font-size: 0.78em;
}
.content div {
    position: absolute;
	top: 0;
	/*padding: 10px 40px;*/
	padding: 0;
	z-index: 1;
    opacity: 1;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.content-1, .content-3 {
	-webkit-transform: translateX(-250px);
	-moz-transform: translateX(-250px);
	-o-transform: translateX(-250px);
	-ms-transform: translateX(-250px);
	transform: translateX(-250px);
}

.content-2, .content-4 {
    -webkit-transform: translateX(250px);
	-moz-transform: translateX(250px);
	-o-transform: translateX(250px);
	-ms-transform: translateX(250px);
	transform: translateX(250px);
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    -webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
    -moz-transition: all ease-out 0.2s 0.1s;
    -o-transition: all ease-out 0.2s 0.1s;
    -ms-transition: all ease-out 0.2s 0.1s;
    transition: all ease-out 0.2s 0.1s;
}

.content div h2,
.content div h3{
	color: #398080;
}

/*@keyframes "page" {
 0% {
    left: 0;
 }
 50% {
    left: 10px;
 }
 100% {
    left: 0;
 }

}

@-moz-keyframes page {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-webkit-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-ms-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-o-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}*/