$fundacion: #BEDA3E;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html {
	background-color: #000;
}

body {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-top: 130px;
}

header {
	display: inline-block !important;
}

#Contenedor {
	background-color: #000;
	padding: 0;
}

#conteo_donadores {
	h2 {
		font-size: 1.7em;
		margin: 0;
	}

	h3 {
		margin: 0;
	}
}

#logo {
	h1 {
		font-size: 1.3em;
		margin: 0;
	}
}

#meenus {
	top: 0;

	#menu_principal {
		display: inline-block;
		font-size: 0.8em;
	}

	#menu_uno, #menu_dos {
		letter-spacing: -0.1px;
		margin: 0;
	}

	#menu_uno {
		li a {
			color: #fff;
			text-decoration: none;
		}
	}

	#menu_dos {
		li a {
			text-decoration: none;
		}
	}

	#btn_dona {
		padding: .6em 1em;
		border: 2px solid #beda3e;
		outline: none;
		font-weight: 600;
	}
}

#moments_time {
	display: none;

	h1 {
		margin-top: 0;
	}

	h3 {
		margin: 0 0 15px 0;
	}

	.label-white {
		background-color: #fff;
		color: #000;
	}

	.navigator-legend {
		font-size: 30px;
	}

	.carousel-control {
		&.left {
			&.main-rol {
				margin-top: 120px;
			}
		}

		&.right {
			&.main-rol {
				margin-top: 120px;
			}
		}
	}

	.btn-cerrar {
		background: transparent;
		background-image: url(../../images/x1.png);
		height: 40px;
		margin-top: 15px;
		position: absolute;
		outline: none;
		right: 15px;
		width: 40px;
		z-index: 17;
		&:active {
			outline: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		&:hover {
			background-color: inherit;
			border: none;
		}
		&:focus {
			outline: none;
		}
	}
}

.carousel-control {
	text-shadow: none;
	width: 4%;
	z-index: 15;
	&.left, &.right {
		background-image: none;
		height: 65px;
		margin-top: 145px;
		&.secondary {
			background-image: none;
			height: 40px;
			margin: 0;
			width: 30px;
		}
	}

	&.left {
		left: 65px;
		&.secondary {
			left: 0;
		}
	}

	&.right {
		left: 105px;
		right: auto;
		&.secondary {
			left: auto;
			right: 0;
		}
	}
}

.carousel-indicators {
	border-bottom: 1px solid $fundacion;
	left: 0;
	margin: 0;
	padding-left: 65px;
	width: 100%;
	li {
		border-radius: inherit;
		float: left;
		margin: 0 25px;
		text-align: center;
		width: 2px;
		span {
			float: left;
			font-size: 15px;
			height: 100%;
			margin-top: -540px;
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			transform: rotate(-90deg);
			width: 100%;
		}
	}
	.active {
		border-radius: inherit;
		margin: 0 25px;
		width: 2px;
	}
}

.container-fluid {
	padding: 0;
}

.left-arrow, .right-arrow {
	background-repeat: no-repeat;
	display: inline-block;
	height: 60px;
	width: 30px;
}

.left-arrow {
	background-image: url(../../images/fv-i.png);
}

.right-arrow {
	background-image: url(../../images/fv-d.png);
}

.left-arrow-secondary, .right-arrow-secondary {
	background-repeat: no-repeat;
	display: inline-block;
	height: 39px;
	margin: 18px 0;
	width: 20px;
}

.left-arrow-secondary {
	background-image: url(../../images/fv-1.png);
}

.right-arrow-secondary {
	background-image: url(../../images/fv-2.png);
}

.moment-description {
	left: 65px;
	position: absolute;
	top: 25%;
	h1 {
		color: $fundacion;
		font-size: 49px;
		font-weight: 700;
		margin-bottom: 0;
	}

	h2 {
		font-size: 33px;
		font-weight: 700;
		margin-top: 7px;
		text-transform: uppercase;
	}

	p {
		font-size: 16.5px;
		margin-bottom: 15px;
	}

	a {
		color: #ffffff;
		font-size: 16.5px;
		font-weight: 700;
		text-decoration: none;
		b {
			color: $fundacion;
		}
	}

	.social_top {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				border: 2px solid #fff;
				border-radius: 30px;
				color: #fff;
				display: inline-block;
				font-size: 1em;
				height: 40px;
				line-height: 40px;
				margin: 3px;
				text-align: center;
				width: 40px;
				i {

				}
				&:hover {
					border: 2px solid $fundacion;
					a {
						color: $fundacion;
					}
				}
			}
			p {
				display: inline-block;
			}
		}
	}
}

.navigator-buttons {
	bottom: 45px;
	height: 40px;
	position: absolute;
	z-index: 16;
}

.navigator-legend {
	display: inline-block;
	font-size: 15px;
	margin: 25px 0 25px 65px;
	vertical-align: top;
}

.row {
	margin: 0;
}

.slide_container {
	padding: 0;
	.slide {
		margin: 0;
		padding: 0;
		img {
			display: inline;
			position: relative;
			width: 100%;
		}
	}
}

.timeline-navigator {
	bottom: 70px;
}

.w-320 {
	&.portrait {
		body {
			padding-top: 107px;
		}

		#moments_time {
			.moment-description {
				label {
					&.label {
						font-size: 55%;
					}
				}

				.social_top {
					display: none;
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				display: none;
				&.secondary {
					display: inline-block;
					margin: 0;
				}
			}

			&.left {
				&.secondary {
					left: 15px;
				}
			}

			&.right {
				&.secondary {
					left: auto;
					right: 15px;
				}
			}
		}

		.moment-description {
			left: 0;
			top: 0;
			h1 {
				font-size: 32px;
			}

			h2 {
				font-size: 18px;
			}

			a {
				font-size: 14.5px;
			}

			p {
				font-size: 12px;
			}
		}

		.navigator-buttons {
			bottom: 28px;
			.navigator-legend {
				display: none;
			}
		}

		.slide {
			min-height: 358px;
			img {
				display: none;
			}
		}

		.timeline-navigator {
			bottom: 20px;
		}
	}
}

.w-360 {
	&.portrait {
		body {
			padding-top: 107px;
		}

		#moments_time {
			.moment-description {
				label {
					&.label {
						font-size: 45%;
					}
				}
			}

			.navigator-legend {
				font-size: 24px;
				margin: 18px 0 0 138px;
			}
		}

		.carousel-control {
			&.left, &.right {
				display: none;
				&.secondary {
					display: inline-block;
					margin: 0;
				}
			}
		}

		.moment-description {
			left: 0;
			top: 0;
			h1 {
				font-size: 38px;
			}

			h2 {
				font-size: 28px;
			}

			p {
				font-size: 14.5px;
			}
		}

		.navigator-buttons {
			&.navigator-legend {
				margin: 25px 0 0 108px;
			}
		}
	}
}

.w-412 {
	&.portrait {
		body {
			padding-top: 107px;
		}

		#moments_time {
			.moment-description {
				h1 {
					font-size: 32px;
					margin-top: 10px;
				}

				h2 {
					font-size: 22px;
				}
			}

			.navigator-buttons {
				&.navigator-legend {
					font-size: 25px;
					margin: 2px 0 0 140px;
				}
			}
		}

		.btn-cerrar {
			margin-top: 15px;
		}

		.carousel-indicators {
			bottom: 0;
			padding-left: 0;
		}

		.left-arrow-secondary, .right-arrow-secondary {
			margin-top: 0;
		}

		.main-rol {
			display: none;
		}

		.moment-description {
			left: 0;
			margin: 2% 0 0 0;
			padding: 0 25px;
			h1 {
				font-size: 42px;
			}

			h2 {
				font-size: 28px;
				margin-bottom: 0;
			}

			p {
				font-size: 14px;
				margin-top: 15px;
			}

			.btn-default {
				font-size: 12px;
				margin-top: 10px;
				padding: 3px 6px;
			}
		}

		.navigator-buttons {
			bottom: -35px
		}

		.navigator-legend {
			margin: 8px 0 0 140px;
		}

		.slide_container {
			height: 425px;
			.item {
				img {
					display: none;
				}
			}
		}

		.timeline-navigator {
			bottom: 25px;
		}
	}
}

.w-480 {
	&.landscape {
		body {
			padding-top: 107px;
		}

		#moments_time {
			label {
				&.label {
					font-size: 40%;
				}
			}
			.moment-description {
				.social_top {
					display: none;
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				display: none;
				&.secondary {
					display: inline-block;
					margin: 0;
				}
			}

			&.left {
				&.secondary {
					left: 15px;
				}
			}

			&.right {
				&.secondary {
					left: auto;
					right: 15px;
				}
			}
		}

		.moment-description {
			left: 0;
			top: 0;
			h1 {
				font-size: 32px;
			}

			h2 {
				font-size: 22px;
			}

			p {
				font-size: 12.5px;
			}
		}

		.navigator-buttons {
			bottom: 32px;
			.navigator-legend {
				display: none;
			}
		}

		.timeline-navigator {
			bottom: 25px;
		}
	}
}

.w-600 {
	&.portrait {
		body {
			padding-top: 107px;
		}

		#moments_time {
			.carousel-control {
				&.left, &.right {
					&.main-rol {
						display: none;
					}
				}
			}

			.moment-description {
				top: 12%;
			}

			.navigator-buttons {
				.navigator-legend {
					font-size: 16px;
					margin: 23px 0 0 65px;
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				margin-top: 120px;
				&.secondary {
					margin: 0;
				}
			}

			&.left {
				left: 80px;
				&.secondary {
					left: 15px;
				}
			}

			&.right {
				left: 120px;
				&.secondary {
					left: auto;
					right: 15px;
				}
			}
		}

		.moment-description {
			&.col-xs-12 {
				width: 90%;
			}
		}
	}
}

.w-640 {
	&.landscape {
		body {
			padding-top: 107px;
		}

		#moments_time {
			.moment-description {
				label {
					&.label {
						font-size: 45%;
					}
				}

				.social_top {
					display: none;
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				display: none;
				&.secondary {
					display: inline-block;
					margin: 0;
				}
			}
		}

		.moment-description {
			left: 0;
			top: 0;
			a {
				font-size: 14px;
			}

			h1 {
				font-size: 30px;
			}

			h2 {
				font-size: 20px;
			}

			p {
				font-size: 12.5px;
			}
		}

		.navigator-buttons {
			bottom: 27px;
			.navigator-legend {
				display: none;
			}
		}

		.timeline-navigator {
			bottom: 20px;
		}
	}
	&.portrait {
		body {
			padding-top: 105px;
		}

		#moments_time {
			.navigator-buttons {
				.navigator-legend {
					font-size: 24px;
					margin: 18px 0 0 65px;
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				&.secondary {
					margin: 0;
				}
			}

			&.left {
				left: 80px;
				&.secondary {
					left: 15px;
				}
			}

			&.right {
				left: 120px;
				&.secondary {
					left: auto;
					right: 15px;
				}
			}
		}

		.moment-description {
			&.col-xs-12 {
				width: 80%;
			}
		}

		.navigator-buttons {
			bottom: 35px;
			.navigator-legend {
				margin: 20px 0 0 65px;
			}
		}

		.timeline-navigator {
			bottom: 85px;
		}
	}
}

.w-690 {
	&.landscape {
		body {
			padding-top: 100px;
		}

		.btn-cerrar {
			margin-top: 15px;
		}

		.carousel-control {
			&.left {
				&.secondary {
					left: 15px;
				}
			}
			&.right {
				&.secondary {
					left: 45px;
				}
			}
		}

		.main-rol {
			display: none;
		}

		.moment-description {
			left: 0;
			top: 0;
			h1 {
				font-size: 36px;
				margin-top: 10px;
			}

			h2 {
				font-size: 26px;
			}

			p {
				font-size: 14.5px;
			}

			.btn-default {
				font-size: 12px;
				margin-top: 10px;
				padding: 3px 6px;
			}

			.social_top {
				display: none;
			}
		}

		.navigator-buttons {
			bottom: 20px;
		}

		.navigator-legend {
			display: none;
		}

		.timeline-navigator {
			bottom: 40px;
			.carousel-indicators {
				padding: 0;
			}
		}
	}
}

.w-768 {
	&.portrait {
		body {
			padding-top: 100px;
		}

		#moments_time {
			.navigator-buttons {
				.navigator-legend {
					margin: 15px 0 0 65px;
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				&.secondary {

				}
			}

			&.left {
				left: 80px;
				&.secondary {
					left: 15px;
				}
			}

			&.right {
				left: 120px;
				&.secondary {
					left: auto;
					right: 15px;
				}
			}
		}

		.moment-description {
			&.col-sm-12 {
				width: 85%;
			}
		}

		.navigator-buttons {
			bottom: 165px;
		}

		.timeline-navigator {
			bottom: 200px;
		}
	}
}

.w-800 {
	&.landscape {
		body {
			margin-top: -35px;
		}

		#moments_time {
			.navigator-buttons {
				.navigator-legend {
					font-size: 18px;
					margin: 20px 0 0 65px;
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				display: none;
				&.secondary {
					display: inline-block;
					margin: 0;
				}
			}
		}

		.moment-description {
			top: 3%;
			&.col-sm-12 {
				width: 90%;
			}
		}
	}
}

.w-960 {
	&.landscape {
		body {
			padding-top: 100px;
		}

		#moments_time {
			.carousel-control {
				&.left, &.right {
					&.main-rol {
						display: none;
					}
				}
			}

			.moment-description {
				top: 12%;
				&.col-sm-12 {
					width: 80%;
				}
			}

			.navigator-legend {
				margin: 15px 0 0 65px;
			}
		}

		.carousel-control {
			&.left, &.right {
				margin-top: 60px;
				&.secondary {
					margin: 0;
				}
			}

			&.left {
				left: 75px;
				&.secondary {
					left: 15px;
				}
			}

			&.right {
				left: 115px;
				&.secondary {
					left: auto;
					right: 15px;
				}
			}
		}

		.moment-description {
			h1 {
				font-size: 40px;
			}

			h2{
				font-size: 30px;
			}
		}
	}
}

.w-1024 {
	&.landscape {
		body {
			padding-top: 102px;
		}

		#main_time {
			.navigator-legend {
				font-size: 15px;
				margin: 25px 0 0px 65px;
			}
		}

		#moments_time {
			.carousel-control {
				&.left {
					&.main-rol {
						margin-top: 85px;
					}
				}

				&.right {
					&.main-rol {
						margin-top: 85px;
					}
				}
			}

			.navigator-legend {
				font-size: 26px;
				margin: 20px 0 10px 65px;
			}
		}

		.carousel-control {
			&.left, &.right {
				margin-top: 110px;
				&.secondary {
					margin: 0;
				}
			}

			&.left {
				left: 75px;
				&.secondary {
					left: 25px;
				}
			}

			&.right {
				left: 115px;
				&.secondary {
					left: auto;
					right: 25px;
				}
			}
		}

		.col-md-4 {
			width: 50.333333%;
		}

		.col-md-5 {
			width: 60.333333%;
		}

		.left-arrow-secondary, .right-arrow-secondary {
			margin: 18px 0 0 0;
		}

		.moment-description {
			h1 {
				font-size: 38px;
			}

			h2 {
				font-size: 28px;
			}
		}

		.navigator-buttons {
			bottom: 30px;
		}

		.timeline-navigator {
			bottom: 50px;
			.navigator-container {
				.carousel-indicators {
					li {
						span {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}

.w-1280 {
	&.landscape {
		#moments_time {
			.carousel-control {
				&.left {
					&.main-rol {
						margin-top: 15px;
					}
				}

				&.right {
					&.main-rol {
						margin-top: 15px;
					}
				}
			}

			.moment-description {
				top: 15%;
			}

			.navigator-legend {
				margin: 20px 0 20px 65px;
			}
		}

		.carousel-control {
			&.left, &.right {
				margin-top: 75px;
				&.secondary {
					margin: 0;
				}
			}

			&.left {
				&.secondary {
					left: 15px;
				}
			}

			&.right {
				&.secondary {
					left: auto;
					right: 15px;
				}
			}
		}

		.col-md-4 {
			width: 50.333333%;
		}

		.moment-description {
			top: 20%;
		}
	}
}

.w-1366 {
	&.landscape {
		#main_time {
			.navigator-legend {
				font-size: 15px;
				margin: 25px 0 0px 65px;
			}
		}

		#moments_time {
			.carousel-control {
				&.left, &.right {
					margin-top: 40px;
					&.secondary {
						margin: 0;
					}
				}
			}

			.navigator-legend {
				margin: 15px 0 18px 65px;
			}
		}

		.carousel-control {
			&.left, &.right {
				margin-top: 65px;
				&.secondary {
					margin: 0;
				}
			}

			&.left {
				&.secondary {
					left: 25px;
				}
			}

			&.right {
				&.secondary {
					left: auto;
					right: 25px;
				}
			}
		}

		.left-arrow-secondary, .right-arrow-secondary {
			margin: 18px 0 0 0;
		}

		.moment-description {
			top: 18%;
		}
	}
}

.w-1440 {
	&.landscape {
		#moments_time {
			.carousel-control {
				&.left {
					&.main-rol {
						margin-top: 90px;
					}
				}

				&.right {
					&.main-rol {
						margin-top: 90px;
					}
				}
			}
		}

		.carousel-control {
			&.left, &.right {
				margin-top: 125px;
				&.secondary {
					margin: 0;
				}
			}
		}
	}
}
