.slide-menu
	background $blue
	.avatar
		padding: 10px 15px;
		overflow hidden
		.icon-user
			color: white;
			font-size: 4em;
			background: lightblue;
			float: left;
		.user
			float: left;
			margin-left: 1em;
			.name
				color #add8e6
				margin 0
			.position
				color white
	.navmenu-brand
		color white
	li
		a
			color white !important