.navmenu-push
  .navbar-toggle 
    float left
    margin-left 15px

@media (min-width: 0) 
  .navmenu-push
    .navbar-toggle 
      display block /* force showing the toggle */

@media (min-width: 992px) 
  .navmenu-push-button
    right auto
    background none
    border none
